// $body-font-family: 'Muli' !important;
// $font-family: 'Muli' !important;

@import '~vuetify/src/styles/main.sass';

.project-item{
    padding: 15px 5px;
    font-size: 20pt;
    font-weight: 800;
    margin: 1px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.project-item .v-icon{
    font-size: 15pt;
    margin-bottom: 5px;
}

.project-metrics .flex{
    width: 20%;
}

.theme--dark.v-card .v-card__text{
    color: white !important;
}
