// Import Vuetify styling
@require '~vuetify/src/stylus/app.styl'


.container.grid-list-md .layout .flex {
  flex-grow: initial;
}

.sumary{
    display: flex; overflow: hidden
}

.sumary .v-chip__content {
  padding-left: 0 !important;
}

.sumary .v-chip .v-icon {
  margin-right: 3px !important;
}